input, textarea {
    display: block;
    width: 300px;
    margin: 10px 0;
}

textarea {
    height: 100px;
}

button {
    margin-bottom: 20px;
}
#note{
    background-color: yellowgreen;
}
*{
    padding-left: 200px;
    margin-top: 80px;
}
#title{
    row-gap: 10px;
    background-color: aliceblue;
}
#addbtn{
    max-width: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}