input, textarea {
    display: block;
    width: 300px;
    margin: 10px 0;
}

textarea {
    height: 100px;
}

button {
    margin-bottom: 20px;
}
#note{
    background-color: lightblue;
}
*{
    padding-left: 200px;
    margin-top: 80px;
}
#title{
    row-gap: 10px;
    background-color: aliceblue;
}
#addBtn{
    max-width: 1px; 
     margin-top: 1px;
    padding-bottom: 1px;
    border-radius: 6px;
}